@import "./config/_fonts";
@import "./config/config-index";

@import "./components/_buttons";
@import "./components/_filter-tab";
@import "./components/_toastr";
@import "./components/_input";
@import "./components/_switch";
@import "./components/_checkbox";
@import "./components/_radio";
@import "./components/_accordion";
@import "./components/_preloader";
@import "./components/_breadcrumb";
@import "./components/_ck-content";

@import "./common/_header";
@import "./common/_footer";

@import "./pages/_index";
