.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: $font-family-base;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  position: relative;
  min-height: 100vh;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("~/static/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
}
main {
  position: relative;
  z-index: 1;
  margin-top: 4rem;
}

.section {
  padding: 10rem 0;

  @include bp(tablet) {
    padding: 7.5rem 0;
  }
  @include bp(tablet-small) {
    padding: 5rem 0;
  }

  &--pt0 {
    padding-top: 0;
  }
}

.c-none {
  cursor: none;
}
