:root {
    --txt-rem54: 5.4rem;
    --txt-rem48: 4.8rem;
    --txt-rem36: 3.6rem;
    --txt-rem30: 3rem;
    --txt-rem28: 2.8rem;
    --txt-rem24: 2.4rem;
    --txt-rem20: 2rem;
    --txt-rem18: 1.8rem;
    --txt-rem15: 1.5rem;
}
.txt {
    &--rem {
        &54 {
            font-size: var(--txt-rem54);
        }
        &48 {
            font-size: var(--txt-rem48);
        }
        &36 {
            font-size: var(--txt-rem36);
        }
        &30 {
            font-size: var(--txt-rem30);
        }
        &28 {
            font-size: var(--txt-rem28);
        }
        &24 {
            font-size: var(--txt-rem24);
        }
        &20 {
            font-size: var(--txt-rem20);
        }
        &18 {
            font-size: var(--txt-rem18);
        }
        &15 {
            font-size: var(--txt-rem15);
        }
    }
    &--font {
        &300 {
            font-weight: 300;
        }
        &400 {
            font-weight: 400;
        }
        &500 {
            font-weight: 500;
        }
        &600 {
            font-weight: 600;
        }
        &700 {
            font-weight: 700;
        }
    }
}
