.footer {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &__info {
    height: 60rem;
    // height: 60rem;
    border-top: 0.3rem solid var(--c-paragraph);
    transition: var(--transition);
    @include bp(tablet) {
      height: unset;
    }
    .col-lg-9 {
      justify-content: center;
      align-items: center;
      display: flex;
    }
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-right: 0.3rem solid var(--c-paragraph);
      @include bp(tablet) {
        display: none;
      }
      img {
        max-width: 20rem;
        width: 100%;
        object-fit: contain;
      }
    }
    &-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 8rem;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
      @include bp(tablet) {
        margin-top: 0;
        padding: 4rem 0;
      }
      @include bp(tablet-small) {
        grid-template-columns: 1fr;
        gap: 4rem;
      }
      @include bp(mobile) {
        gap: 2rem;
        padding: 2rem 0;
      }
      &__item {
        width: 100%;
        height: max-content;
        line-height: 1em;
        a {
          display: block;
        }
        &-title {
          text-transform: uppercase;
          margin-bottom: 2rem;
        }
        &-socials {
          display: flex;
          justify-content: space-between;
          width: 100%;
          &__item {
            .icon {
              font-size: 2rem;
              color: var(--c-white);
            }
          }
        }
      }
    }
  }

  &__rights {
    background-color: var(--c-primary);
    padding: 2rem;
    transition: var(--transition);
    @include bp(tablet) {
      padding: 1.5rem;
    }
    @include bp(mobile) {
      font-size: 1.6rem;
      padding: 1rem 0;
    }
    &-text {
      text-align: center;
      span {
        font-weight: 900;
        color: var(--c-white);
      }
    }
  }
}
