.about {
  &__wrapper {
    margin-bottom: 18rem;
    position: relative;
  }
  .col-lg-4 {
    position: relative;
  }
  &__sticky {
    position: sticky;
    top: 10rem;
  }
  &__image {
    border: 0.1rem solid var(--c-white);
    border-radius: 1.5rem;
    height: 45rem;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 0 2rem;
      object-fit: contain;
      max-height: 50rem;
    }
  }
  &__info {
    &-cards {
      &__item {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
        &-title {
          text-transform: uppercase;
        }
      }
    }
    &-languages {
      &__item {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        padding: 2rem;
        border: 0.3rem solid rgba(#ffffff, 0.2);
        border-radius: 1.5rem;
        font-size: var(--txt-rem32);
        span {
          font-size: var(--txt-rem24);
          color: var(--c-paragraph);
        }
      }
    }
  }
  &__content {
    padding-bottom: 3rem;
    border-bottom: 0.3rem solid rgba(#ffffff, 0.2);
    &__text {
      span {
        font-weight: 700;
        color: var(--c-primary);
      }
    }
  }
  &__education {
    padding: 5rem 0;
    border-bottom: 0.3rem solid rgba(#ffffff, 0.2);
    &-item {
      &:not(:last-child) {
        margin-bottom: 6rem;
      }
      &__date {
        margin-right: 10rem;
      }
    }
  }
  &__skills {
    padding: 5rem 0;
    border-bottom: 0.3rem solid rgba(#ffffff, 0.2);
  }
  &__experience {
    padding: 5rem 0;
  }
}
