.contact {
  &__info {
    padding-top: 5rem;
    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
      @include bp(desktop) {
        gap: 4rem;
      }
      @include bp(tablet) {
        gap: 2rem;
      }
      @include bp(tablet-small) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
